body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
  }
  
  header {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra el logo */
    height: 110px;
    padding: 0 20px;
    position: relative;
  }
  
  .menu-hamburguesa {
    position: absolute;
    top: 22.5px;
    left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 20px;
    cursor: pointer;
  }
  
  .menu-hamburguesa span {
    display: block;
    height: 1.5px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 2px;
  }
  
  .logo img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .iconos-derecha {
    position: absolute;
    top: 10px;
    right: 25px;
    display: flex;
    align-items: center;
  }
  
  .iconos-derecha img {
    width: 40px; /* Tamaño de los iconos */
    height: auto;
    object-fit: cover;
  }
  
  /* Bloque para los textos debajo del header */
  .textos-header {
    display: flex;
    align-items: center;
    width: 100%; /* Ocupa todo el ancho disponible */
    font-size: 10px;
    position: absolute; /* Los textos se colocan sobre el header */
    top: 70px; /* Alineado con la parte inferior del header */
    left: 0;
    padding: 0 20px; /* Espaciado a los lados */
    bottom: 20px;
    z-index: 1; /* Asegura que esté encima del contenido */
  }
  
  /* Estilo para los textos de la izquierda y derecha */
  .special-offers, .make-your-order {
    white-space: nowrap;
    padding: 7.5px 10px;
    border-radius: 10px;
    border: solid 1px #ffffff;
  }
  
  /* Texto de la izquierda */
  .special-offers {
    margin-left: 28px;
    text-align: center;
  }
  
  /* Texto de la derecha */
  .make-your-order {
    text-align: center;
    margin-left: auto; /* Esto empuja el texto a la derecha */
    margin-right: 60px; /* Ajusta el margen para espacio */
  }
  
 /* Ajustes para pantallas grandes */
@media only screen and (min-width: 768px) {
    header {
        padding-top: 20px;
        height: 80px;
        justify-content: center; /* Centra los elementos horizontalmente */
    }

    .menu-hamburguesa {
        position: absolute;
        left: 25px; /* Ajusta la posición del menú hamburguesa */
        top: 35px;
    }

    .logo img {
        width: 300px; /* Ajusta el tamaño del logo */
        height: auto;
        margin-top: 25px;
    }

    .textos-header {
        font-size: 12px; /* Ajusta el tamaño de los textos */
        top: 15px;
    }

    .cesta, .perfil {
        font-size: 15px; /* Aumenta el tamaño de la fuente */
    }

    .special-offers, .make-your-order {
        font-size: 15px;
    }

    .special-offers {
        margin-left: 300px; /* Ajusta el margen para la sección de "special offers" */
    }

    .make-your-order {
        bottom: 100px;
        margin-right: 350px; /* Ajusta el margen para la sección de "make your order" */
    }

    .iconos-derecha {
        margin-right: 100px;
        top: 25px;
    }
}

@media only screen and (min-width: 890px) and (max-width: 1241px) {
    .special-offers {
        margin-left: 150px; /* Ajusta el margen para la sección de "special offers" */
    }

    .make-your-order {
        margin-right: 200px; /* Ajusta el margen para la sección de "make your order" */
    }

    .iconos-derecha {
        margin-right: 50px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 889px) {
    .special-offers {
        margin-left: 50px; /* Ajusta el margen para la sección de "special offers" */
    }

    .make-your-order {
        margin-right: 170px; /* Ajusta el margen para la sección de "make your order" */
    }

    .iconos-derecha {
        margin-right: 50px;
    }
}